:root{
	--disc-color:#b7bbc5;
	--border-line:#203541;
	--bg-color:white;
	--line-height:5em;
}
body{
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}
.loading{
	position: absolute;
	height: var(--line-height);
	top: 50%;
	left:50%;
	height: 100vh;
	width: 100vw;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.obj{
	height: var(--line-height);
	width: var(--line-height);
	--border-with:0.2em;
	border: var(--border-with) solid var(--disc-color);
	border-top-color: var(--border-line);
	border-radius: 50%;
	animation:spin 1s linear infinite;
}
@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}