:root{
	--line-color:#1d97c1;
	--bg-color:white;
	--line-height:15px;
}
body{
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}
.loading{
	position: absolute;
	height: var(--line-height);
	top: 50%;
	left:50%;
	background-color: var(--bg-color);
	height: 100vh;
	width: 100vw;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.obj{
	height: var(--line-height);
	width: var(--line-height);
	background-color: var(--line-color);
	margin: 0 6px;
	border-radius: 50%;
	animation: bounce 0.9s infinite;
}
.obj:nth-child(2){
	animation-delay: 0.3s;
}
.obj:nth-child(3){
	animation-delay: 0.6s;
}
.obj:nth-child(4){
	animation-delay: 0.9s;
}
@keyframes bounce{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(15px);
	}
}