:root{
	--disc-color:#fda9a9;
	--border-line:#e62a76;
	--bg-color:white;
	--line-height:80px;
}
body{
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}
.loading{
	position: absolute;
	height: var(--line-height);
	top: 50%;
	left:50%;
	background-color: var(--bg-color);
	height: 100vh;
	width: 100vw;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.obj{
	position: relative;
	height: var(--line-height);
	width: var(--line-height);
	background-color: var(--disc-color);
	border-radius: 50%;
}
.obj:after, .obj:before {
	content: "";
	display: block;
	width: var(--line-height);
	height: var(--line-height);
	border-radius: 50%;
}
.obj:after{
	position: absolute;
	--border-with:3px;
	border: var(--border-with) solid transparent;
	top: calc(-1 * var(--border-with));
	left: calc(-1 * var(--border-with));
	border-top-color: var(--border-line);
	border-bottom-color:var(--border-line);
	animation:spin 1s linear infinite;
}
@keyframes spin{
	0%{
		transform:rotate(0deg) scale(1);
	}
	50%{
		transform:rotate(90deg) scale(1.3);
	}
	100%{
		transform:rotate(360deg) scale(1);
	}
}