:root{
	--line-color:#05c46b;
	--bg-color:white;
	--line-height:25px;
}
body{
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}
.loading{
	position: absolute;
	height: var(--line-height);
	top: 50%;
	left:50%;
	background-color: var(--bg-color);
	height: 100vh;
	width: 100vw;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.obj{
	width: 5px;
	height: var(--line-height);
	background-color: var(--line-color);
	margin: 0 4px;
	border-radius: 8px;
	animation: loading 0.75s infinite;
}
.obj:nth-child(2){
	animation-delay: 0.15s;
}
.obj:nth-child(3){
	animation-delay: 0.3s;
}
.obj:nth-child(4){
	animation-delay: 0.45s;
}
.obj:nth-child(5){
	animation-delay: 0.6s;
}
@keyframes loading{
	0%{
		height: 0;
	}
	50%{
		height: var(--line-height);
	}
}