@import "https://fonts.googleapis.com/icon?family=Material+Icons";
body{
	margin: 0;
	padding: 0;
}
.alert{
	/* Variables */
	--alert-icon-size:30px;
	--alert-border-width:40px;

	position: relative;
	margin: 5px auto;
	width: 80%;
	padding: 10px;
	border-left: var(--alert-border-width) solid transparent;
}
.alert i{
	font-size: var(--alert-icon-size);
	line-height: var(--alert-icon-size);
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(calc(-1 * (var(--alert-border-width) / 2 + var(--alert-icon-size) / 2)),-50%);
}
.error, .info, .valid, .warning{
	color: white;
}
.error{
	background-color: rgb(253, 22, 22);
	border-left-color: rgb(213, 0, 0);
}

.info{
	background-color: rgb(144, 167, 179);
	border-left-color: rgb(112, 135, 148);
}

.valid{
	background-color: rgb(139, 195, 74);
	border-left-color: rgb(88, 155, 13);
}

.warning{
	background-color: rgb(235, 174, 20);
	border-left-color: rgb(199, 145, 9);
}